.about-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.about-container div{
    width: 1023px;
}

.btn-about{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: #f05858;
    color: white;
    border: 1px solid #000;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    transition: 0.5s;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 1023px;
    height: 52px;
}



.collapse-text{
    margin: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.btn-about, .collapse-text{
    display: block;
    width: 100%;
}