.about-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.about-container div{
    width: 1023px;
}

.collapse-content.open {
    margin-bottom: 20px; /* Ajustez cette valeur selon vos besoins */
  }

  @media (max-width: 420px) {
    .about-container div{
        width: 100%;
    }
  }
