.card-host {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .host-image {
    border-radius: 50%;
    width: 64px;
    height: 64px;
  }
  
  .host-name {
    font-size: 18px;
    font-weight: bold;
    font-family: Montserrat;
    color: #FF6060;
    margin-left: 105px;
    margin-right: 15px;
    white-space: pre-wrap;
    max-width: calc(100% - 170px - 22px);
    text-align: right;
  }
  
  .star-rating {
    color: blueviolet;
    font-size: 36px;
    margin-top: 10px;
    margin-left: 115px;
  }

  @media (max-width: 420px) {
    .star-rating {
      font-size: 25px;
      margin-top: 10px;
      margin-left: 0;
    }
  }