.cards-title-desc{
    display: flex;
    flex-direction: column;
    padding: 0 ;
    font-family: Montserrat;
}
.cards-title-desc h2{
  font-size: 24px;
  font-weight: 600;
  color: #f87d7d;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
.cards-title-desc p{
  font-size: 16px;
  font-weight: 400;
  color: #000;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.container-host{
  display: flex;
  justify-content: flex-end;
}
.card-host-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collapse-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* Ajoutez cette ligne */
  gap: 20px;
  font-family: Montserrat;
}

.card-collapse{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  gap: 76px;
}
.card-collapse-section {
  width: 582px;
  min-height: 52px;
  border-radius: 5px;
  display: flex;
  flex-direction: column; /* Changez 'row' en 'column' */
  align-items: flex-start; /* Aligne les éléments à gauche */
  justify-content: space-between;
  gap: 20px;
  padding: 0 20px;
  margin-bottom: 10px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
  background-color: #eb7474;
  h3{
    font-size: 18px;
    font-weight: 600;
    color: #fff;
  }
}

.collapse-content {
  display: none; /* Changez 'max-height' en 'display' */
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  color: white;
}

.collapse-content.open {
  display: block; /* Changez 'max-height' en 'display' */
}
.title-arrow{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;

}

.arrow-icon {
  width: 24px;
  height: 24px;
  fill: none;
  stroke: white;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: transform 0.3s ease-in-out;
}

.arrow-icon.open {
  transform: rotate(180deg);
}