.card {
  position: relative;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 340px ;
    height: 340px;
    flex-basis: calc(33.33% - 20px);
}
.card a {
    text-decoration: none;
}


.card-title {
  position: absolute;
  z-index: 5;
  top: 260px;
  left: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  padding-left: 5px;
  line-height: 25px;
  text-shadow: 0 0 5px #000;
}

.card-description {
  font-size: 14px;
  color: #888;
}

.card-cover {
  width: 100%;
  height: 340px;
  margin-bottom: 8px;
  object-fit: cover;
  border-radius: 10px;
}

.card-button {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  margin-top: 8px;
}

@media (max-width: 768px) {

  
}

@media (max-width: 430px) {
  .card {
    width: 315px;
    height: 300px;

  }
  .card-cover{
    height: 300px;
  }
  .card-title {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 8px;
    padding-left: 5px;
    top: 230px;
  }
  
}
