.body{
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100vh; /* Utilisez 100vh pour faire en sorte que .body prenne toute la hauteur de la fenêtre de visualisation */
  margin: auto;
}
